<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Driver Drowsiness Detection</title>
    <style>
      .dd{
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      }
    </style>
  </head>
  <body class="dd">
    <main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <img src="https://i.postimg.cc/xCbZC7P5/1464723.png" alt="" width="30" height="24">
        <span class="fw-bold text-emphasis-white">Driver Drowsiness Detection System</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-primary-subtle text-emphasis-primary rounded-3 border ">
      <div class="container-fluid py-9">
        <h1 class="display-6 fw-bold ">About this project</h1>
        <p class="fs-5 ">Welcome to our website, where we introduce an innovative project aimed at enhancing road safety:
           the Driver Drowsiness Detection System. Our system is designed to monitor and detect signs of drowsiness or fatigue in drivers, 
           helping to prevent accidents caused by driver inattention.</p>
        <div>
          <p class="fs-5">
          Driver drowsiness is a significant risk factor on the roads, as tired drivers may experience reduced reaction times and impaired judgment. 
          Our system utilizes cutting-edge technology, algorithm, to analyze various factors such as eye movements, facial expressions, it accurately 
          assesses the driver's level of alertness</p>
        </div>
      </div>
    </div>

    <div class="p-5 mb-4 bg-info-subtle text-emphasis-info rounded-3 border ">
        <div class="container-fluid py-10">
          <h1 class="display-6 fw-bold">Enhanced Safety</h1>
          <p class="fs-5">The primary goal of our system is to enhance road safety by identifying drowsy drivers 
            and alerting them to their condition. By doing so, we aim to reduce the risk of accidents caused by driver fatigue, 
            ultimately saving lives.</p>
        </div>
      </div>
      <div class="p-5 mb-4 bg-info-subtle text-emphasis-info rounded-3 border ">
        <div class="container-fluid py-10">
          <h1 class="display-6 fw-bold">Continuous Monitoring</h1>
          <p class="fs-5">Our system provides continuous monitoring of driver drowsiness, ensuring that drivers receive timely
             alerts throughout their journey. This constant vigilance helps maintain a high level of alertness, particularly 
             during long drives or monotonous road conditions.</p>
        </div>
      </div>
      <div class="p-5 mb-4 bg-info-subtle text-emphasis-info rounded-3 border ">
        <div class="container-fluid py-10">
          <h1 class="display-6 fw-bold">Integration with Existing Vehicle Systems</h1>
          <p class="fs-5"> Our Driver Drowsiness Detection System seamlessly integrates with existing vehicle safety features, 
            such as adaptive cruise control or lane-keeping assist. This integration allows for coordinated responses,
             such as automatic adjustments to vehicle speed or additional warnings, further enhancing safety measures.<p>
        </div>
      </div>
    </div>
    </div>
    </div>
  </body>
</html>